footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    background-color: $footer-background-color;

    svg {
        padding: .4rem;
    }

    a[href*="linkedin"] svg:hover,
    a[href*="github"] svg:hover,
    a[href*="facebook"] svg:hover {
        path {
            fill: $footer-icon-hover-color;
            /* Change this to any desired color */
        }
    }
}