@use '../../partials/colors';

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    background-color: colors.$footer-background-color;

    a[href*="linkedin"] svg:hover,
    a[href*="github"] svg:hover,
    a[href*="facebook"] svg:hover {
        path {
            fill: colors.$footer-icon-hover-color;
        }
    }
}