@use '../../partials/colors';

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    background-color: colors.$footer-background-color;

    svg {
        padding: .4rem;

        path:hover {
            fill: colors.$footer-icon-hover-color;
        }
    }
}