@import '../../partials/colors';

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $todo-item-background-color;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: $todo-item-box-shadow;
    gap: .7rem;

    p {
        flex: 1;
        font-size: 1rem;
        margin-right: 1rem;
        word-break: break-word;
    }
    
    .line-over {
        // text-decoration: line-through;
        color: $todo-item-p-color;
    }

    .btn {
        padding: 0.4rem 0.8rem;
        border: none;
        border-radius: 5px;
        font-size: 0.9rem;
        cursor: pointer;
        transition: 0.3s;

        &.btn-done {
            background-color: $todo-item-btn-done-background-color;

            &:hover {
                background-color: $todo-item-btn-done-hover-background-color;
            }

            &.completed {
                background-color: $todo-item-btn-undo-background-color;
                color: $todo-item-btn-undo-color;

                &:hover {
                    background-color: $todo-item-btn-undo-hover-background-color;
                }
            }
        }

        &.btn-delete {
            background-color: $todo-item-btn-delete-background-color;

            &:hover {
                background-color: $todo-item-btn-delete-hover-background-color;
            }
        }
    }

    @media (min-width: 768px) {
        flex-wrap: nowrap;

        p {
            font-size: 1.2rem;
        }

        .btn {
            font-size: 1rem;
        }
    }
}