@use "./partials/colors";

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: colors.$global-color;
}

body,
html, #root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-behavior: smooth;
    height: 100%;
    min-width: 425px;
    background-color: colors.$global-background-color;
}

footer {
    margin-top: auto;
}

/*_________________________________MISC___________________________________*/
h4 {
    font-size: 19px;
}

p {
    font-size: 16px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    gap: 1rem;
}

a {
    text-decoration: none;
}

/*_________________________________MEDIA QUERY'S__________________________*/
@media (min-width: 540px) {
    h4 {
        font-size: 22px;
    }
}

@media (min-width: 933px) {
    h4 {
        font-size: 28px;
    }
}