@use '../../partials/colors';

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 2rem auto;
    gap: 2rem;
    padding: 2rem;
    border-radius: .5rem;
    background-color: colors.$about-container-background-color;
    max-width: 1024px;

    h1,
    h2 {
        text-align: center;
        margin: auto;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        padding-bottom: 1rem;
    }

    .about-section,
    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
        width: 100%;
        padding: 1rem;
        border-radius: .5rem;
        background-color: colors.$about-section-ul-background-color;
        flex: 1 1 clamp(300px, 50%, 600px);

        .add-color,
        .start-color,
        .ongoing-color,
        .done-color,
        .undo-color,
        .delete-color {
            text-shadow: colors.$about-text-shadow;
        }

        .add-color {
            color: colors.$about-add-color;
        }

        .start-color {
            color: colors.$about-start-color;
        }

        .ongoing-color {
            color: colors.$about-ongoing-color;
        }

        .done-color {
            color: colors.$about-done-color;
        }

        .undo-color {
            color: colors.$about-undo-color;
        }

        .delete-color {
            color: colors.$about-delete-color;
        }
    }

    @media (min-width: 933px) {

        .about-section {

            ul {
                flex-direction: row;
            }
        }
    }
}