// .home-container {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-items: center;
//     gap: 3rem;
//     height: 100vh;
//     padding: 1rem 0;
// }

.home-container {
    text-align: center;
    color: #fff;
    padding: 2rem 1rem;

    h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    @media (min-width: 768px) {
        h1 {
            font-size: 2.5rem;
        }
    }
}